@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');


.fontFam {
    font-family: "Inter", sans-serif;
}

.bgGradient {
    background: linear-gradient(to top, #343a40, #ced4da)
}

.bgPrimary {
    background-color: #343a40;
}

.bgSecondary {
    background-color: #ced4da;
}

.bgThird {
    background-color: #ff6b6b;
}

.colorTitle {
    color: #212529;
}

.colorTitle2 {
    color: #fff;
}

.colorSubtitle1 {
    color: #495057;
}

.colorSubtitle2 {
    color: #fff;
}

.title1 {
    font-size: 32px;
}

.title2 {
    font-size: 26px;
}

.title3 {
    font-size: 20px;
}

.text1 {
    font-size: 16px;
}

.text2 {
    font-size: 14px;
}

.text3 {
    font-size: 12px;
}

main {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 90%;
    max-width: 1200px;
    gap: 20px;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
}

main form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

main form button {
    width: 90%;
    max-width: 200px;
    height: 47px;
    border-radius: 12px;
    border: 1px white solid;
    color: #FFF;
}

main form button a {
    color: #FFF;
}

.main__div--logos {
    display: flex;
    gap: 30px;
    width: 80%;
    justify-content: center;
    height: 75px;
}

.main__div--logos img {
    width: 50px;
    height: 50px;
}

.login__anyCount {
    position: absolute;
    bottom: 25px;
}