main {
    display: flex;
    height: 100vh;
    width: 90%;
    max-width: 1200px;
    gap: 20px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.form__div {
    display: flex;
    width: 95%;
    height: 412px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.form__div form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
}

.form__div form input {
    width: 90%;
    max-width: 390px;
    height: 47px;
    border-radius: 12px;
    border: 1px white solid;
    color: #FFF;
}

.span__divLogos {
    position: fixed;
    bottom: 120px;
}

.main__div--logos {
    display: flex;
    gap: 30px;
    width: 80%;
    justify-content: center;
    height: 75px;
    position: absolute;
    bottom: 40px;
}

.main__div--logos img {
    width: 50px;
    height: 50px;
}

.login__anyCount {
    position: absolute;
    bottom: 25px;
}

.modal {
    /* min-height: 100vh; */
    z-index: 2;
    /* position: fixed; */
    display: none;
    width: 95%;
    max-width: 620px;
    height: 580px;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    gap: 40px;
    top: -150% ;
    justify-content: center;
    position: relative;
}

.modal h1 {
    text-align: center;
}

.main__div--logos2 {
    display: flex;
    gap: 30px;
    width: 80%;
    justify-content: center;
    height: 75px;
    position: absolute;
    bottom: 20px;
}

.modal form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal form input {
    width: 90%;
    max-width: 390px;
    height: 47px;
    border-radius: 12px;
    border: 1px white solid;
    color: #FFF;
}

.closeModal {
    position: absolute;
    top: 20px;
    right: 25px;
    cursor: pointer;
}

.modalForgot__div {
    position: relative;
    display: flex;
    width: 95%;
    max-width: 620px;
    height: 580px;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    gap: 40px;
    top: -150%;
    justify-content: center;
}

.modalForgot__div h1, h2 {
    text-align: center;
}

.modalForgot__div form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalForgot__div form input {
    width: 90%;
    max-width: 390px;
    height: 47px;
    border-radius: 12px;
    border: 1px white solid;
    color: #FFF;
}

.closeModalForgot {
    cursor: pointer;
}
